

<div class = "jumbotronport">
  <div class="banner">
      <ul>
          <li>This is a slide.</li>
          <li>This is another slide.</li>
          <li>This is a final slide.</li>
      </ul>
  </div>
</div>

<div id = "myCarousel" class = "carousel">

  <ol class = carousel-indicators>
    <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
    <li data-target = "#myCarousel" data-slide-to = "1"></li>
    <li data-target = "#myCarousel" data-slide-to = "2"></li>
  </ol>

  <div class = "carousel-inner">
    <div class = "item-active">
      <%= image_tag("eat.jpeg", :alt => "rss feed") %>
    </div>
    <div class = "item">
      <%= image_tag "wake2.jpeg"%>
    </div>
  </div>
</div>



<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
