

<div class = "jumbotron">
  <div class = "welcome col-xs-5">
    <h2>Hello. My name is <span class="highlight">Jonathan Nadel</span>.</h2>
    <h2>I can help turn your ideas into beautiful and robust applications.</h2>
  </div>
</div>
