<div class="header">

      <div class="container">

        <div class = "row">
          <div class = "name col-xs-4">
            <h1>Jonathan Nadel</h1>
          </div>
          <div class = "menu col-xs-8"
            <ul class="nav">
              <a href = "#"><li>Welcome</li></a>
              <a href = "#"><li>Portfolio</li></a>
              <a href = "#"><li>About</li></a>
              <a href = "#"><li>Contact</li></a>
            </ul>
          </div>
      </div>
    </div>

<div class = "jumbotron">
  <div class = "welcome col-xs-5">
    <h2>Hello. My name is <span class="highlight">Jonathan Nadel</span>.</h2>
    <h2>I can help turn your ideas into beautiful and robust applications.</h2>
  </div>
</div>

<div class="footerr">
  <div class="container">
      <ul class="social">
        <li><a class="github" href="#">github</a></li>
        <a href = "#"><li><img src="linkedin11.png"></li></a>
        <a href = "#"><li><img src="twitter1.png"></li></a>

      </ul>
  </div>
</div>
