

<div class = "jumbotron">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-6">
        <h2>Hello. My name is <span class="highlight">Jonathan Nadel</span>.</h2>
        <h2 id = "yellow">I can help turn your ideas into beautiful and robust applications.</h2>
      </div>
    </div>
  </div>
</div>
