// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// * {
//   border-style: dashed;
//   border-color: red
// }

.header h1{
  font-family: 'Roboto';
  font-weight: 400;
  font-stretch:condensed;
  padding: 0 0 0 20px;
  color: black;
  margin-bottom:0px
  //font-style: italic
}

.header h5{
  font-family: 'Roboto';
  font-weight: 300;
  padding: 0 0 10px 20px;
  color: black;
  margin-top: 0px
  //font-style: italic
}

a {
  color:black;
}

.namepanel {
  background: yellow;
}

.name {
  background: yellow;
  text-align: left;
  padding: 10px 0px 0px 00px;
  margin-left:-20px
}


.header li {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  color:black;
  padding: 20px 0 40px 15px

}

.jumbotron {
  background: url('portfolio_desk.jpeg') no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: left;
  padding: 100px;
  margin-bottom: 24px;
}

.jumbotronport {
  background: url('portfolio_desk_blurred.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: left;
  padding: 100px;
  margin-bottom: 24px;
}

.welcome h2{
  font-family: 'Roboto';
  font-weight: 300;
  padding: 40px 0 40px 0;
  color:black
}

.highlight{

  background:white;
  padding: 4px 8px 4px 4px
}

.footer li{
  padding: 0px 0px 0px 15px;
  float: right
}

/*carousel*/

.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}
